SUPABASE_URL=postgresql://postgres:fy7Z7p%@N82fA3@db.heutudmyharxiwnofost.supabase.co:5432/postgres
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhldXR1ZG15aGFyeGl3bm9mb3N0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0MjA1OTAsImV4cCI6MjA4ODk5NjU5MH0.rweknZaDqbZJ3Ad6hPSqR8A48EvYgzt3QkHjVO9Jpe8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhldXR1ZG15aGFyeGl3bm9mb3N0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQyMDU5MCwiZXhwIjoyMDg4OTk2NTkwfQ.Rh2UuefYXqBmk4BdAZCEJGMYNOTHOlxdf00coPqPHg4
NEXT_PUBLIC_SUPABASE_URL=https://heutudmyharxiwnofost.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_o4OIpTdmLx-eB2FnY4fOVQ_LGXrvJQ1

SITE_URL=https://project-fijck.vercel.app
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080,https://project-fijck.vercel.app
COOKIE_SECURE=false
COOKIE_DOMAIN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
